<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Bootstrap Simple Admin Template</title>
    <link href="/adminTemplate/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/adminTemplate/assets/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="/adminTemplate/assets/img/bootstraper-logo.png" alt="bootstraper logo">
                    </div>
                    <h6 class="mb-4 text-muted">Register New Admin Account</h6>
                    <form action="/admin/auth/register" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email adress</label>
                            {{#if oldPassedData.username}}
                                <input type="email" name="username" class="form-control" value="{{oldPassedData.username}}" placeholder="Enter Email" required>
                            {{else}}
                                <input type="email" name="username" class="form-control" placeholder="Enter Email" required>
                            {{/if}}
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            {{#if oldPassedData.password}}
                                <input type="password" name="password" class="form-control"  value="{{oldPassedData.password}}" placeholder="Password" required>
                            {{else}}
                                <input type="password" name="password" class="form-control"  placeholder="Password" required>
                            {{/if}}
                        </div>

                         <div class="mb-3 text-start">
                            <label for="password" class="form-label">Repeat Password</label>
                            {{#if oldPassedData.repeat_password}}
                            <input type="password" name="repeat_password" class="form-control" value="{{oldPassedData.repeat_password}}" placeholder="Repeat Password" required>
                            {{else}}
                            <input type="password" name="repeat_password" class="form-control" placeholder="Repeat Password" required>
                            {{/if}}
                            
                        </div>

                        <div class="mb-3 text-start">
                            <label for="privateCode" class="form-label">Private Code</label>
                            {{#if oldPassedData.privateCode}}
                                <input type="text" name="privateCode" class="form-control" value="{{oldPassedData.privateCode}}" placeholder="private code" required>
                            {{else}}
                                <input type="text" name="privateCode" class="form-control" placeholder="private code" required>
                            {{/if}}
                        </div>
                         <div class="mb-3 text-center">
                            <ul class=" list-group mb-3">
                                <li class="list-group-item text-danger">{{errorValidation}}</li>
                            </ul>
                        </div>

                        <button type="submit" class="btn btn-success shadow-2 mb-4">Register</button>
                        <a href="/admin/auth" class="btn btn-primary text-white shadow-2 mb-4">Login</a>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
    <script src="/adminTemplate/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/adminTemplate/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>